<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Cpf</td>
                    <td>Data de nascimento</td>
                    <td>Endereço</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Andreina</td>
                    <td>01340045311</td>
                    <td>1108200</td>
                    <td>Rua Barão Studart</td>
                </tr>
            </tbody>
        </table>
    <body>
</html>